/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
  $body-font-family: 'Noto Sans KR, sans-serif',
  $heading-font-family: 'Noto Sans KR, sans-serif'
);

body {
  margin: 0;
  padding: 0;
}

/* 크롬, 사파리, 엣지 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 파이어폭스 */
input[type='number'] {
  -moz-appearance: textfield;
}
